[submodule "JS_Plungins/Models/_jquery-confirm"]
	path = DEV_WebGIS/Demos/Template/passed_libs/_jquery-confirm
	url = https://github.com/craftpip/jquery-confirm.git
[submodule "DEV_WebGIS/Demos/Template/passed_libs/_jquery-confirm"]
	path = DEV_WebGIS/Demos/Template/passed_libs/_jquery-confirm
	url = https://github.com/craftpip/jquery-confirm.git
[submodule "T_WebGL/docs/WebGL-Programming-Guide"]
	path = T_WebGL/docs/WebGL-Programming-Guide
	url = https://github.com/hushhw/WebGL-Programming-Guide.git
[submodule "DEV_WebGIS/LIB/gio_js"]
	path = DEV_WebGIS/LIB/gio_js
	url = https://github.com/syt123450/giojs.git
[submodule "DEV_WebGIS/LIB/three_geo"]
	path = DEV_WebGIS/LIB/three_geo
	url = https://github.com/w3reality/three-geo.git
[submodule "DEV_WebGIS/LIB/indoor_3d"]
	path = DEV_WebGIS/LIB/indoor_3d
	url = https://github.com/wolfwind521/indoor3D.git
