<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="Dialog_files/animation.css">
	<script src="Dialog_files/jquery-1.js"></script><style></style><script src="Dialog_files/jquery.js"></script>
	<script src="Dialog_files/dialog.js"></script>
	<style>
		*{
			padding:0;
			margin:0;
			text-align:center;
		}
		body{
			background: #eee;
		}
		#d1{
			width:500px;
			height:400px;
			background: #fff;
			margin:20px auto;
			border-radius:10px;
		}
		button{
			border:0;
			padding:10px 20px;
			margin-top: 50px;
			outline: none;
		}
		#d2{
			margin-top: 40px;
		}
		#d2 button{
			margin-top:10px;
		}
		ul,li{
			list-style:none;
		}
		#div{
			background: #fff;
			padding: 30px;
			border-radius:8px;
			display: none;
		}
	</style>
</head>
<body>
	<h1>您好，欢迎使用showTips</h1>
	<div id="d1">
	<h3>showTips是一个提示框、模态框插件</h3>
		<button id="tips">显示提示框</button>
		<button id="dialog">显示模态框</button>
		<div id="d2">
			<h3>我们可以自定义css3动画实现弹框动画</h3>
			<h4>当然如果你也可以使用animate.css</h4>
			<ul>
				<li>
					提示款：
					<div>
						<button id="t1">淡入淡出</button>
						<button id="t2">放大</button>
						<button id="t3">抖动</button>
						<button id="t4">下落</button>
						<button id="t5">滚动</button>
					</div>
				</li>
				<li>
					模态框：
					<div>
						<button id="s1">淡入淡出</button>
						<button id="s2">放大</button>
						<button id="s3">抖动</button>
						<button id="s4" style="color:red;font-weight:600">下落</button>
						<button id="s5">滚动</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<h3>点击上面红色的下落 查看我更新的回调；和人性化的配置</h3>
	<div id="div">
		<h1 class="closeIn">this is dialogs（点击我看回调）</h1>
		<ul class="closeIn1">
			<li>dialog提供两种模式</li>
			<li>提供很多种形式</li>
			<li>提供很多回调函数</li>
			<li>dialog面向用户更加友好</li>
			<li><b>点击我看回调</b></li>
		</ul>
	</div>

<script>
	$('#tips').on('click',function(){
		Dialog({});
	});
	$('#dialog').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated bounceIn',closeBtn:'closeIn',effectOut:'animated bounceOut'})
	});
	$('#t1').on('click',function(){
		Dialog({effectIn:'animated fadaIn'})
	});
	$('#t2').on('click',function(){
		Dialog({effectIn:'animated bounceIn'})
	});
	$('#t3').on('click',function(){
		Dialog({effectIn:'animated bounce'})
	});
	$('#t4').on('click',function(){
		Dialog({effectIn:'animated bounceInDown',effectOut:'animated bounceOutDown'})
	});
	$('#t5').on('click',function(){
		Dialog({effectIn:'animated shake'})
	});
	$('#s1').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated fadaIn',closeBtn:'closeIn'})
	});
	$('#s2').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated bounceIn',closeBtn:'closeIn'})
	});
	$('#s3').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated bounce',closeBtn:'closeIn'})
	});
	$('#s4').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated bounceInDown',effectOut:'animated bounceOutDown',closeBtn:'closeIn',closeBtn1:'closeIn1'}).on('remove',function(){
			Dialog({type:'dialog',dom:'#div',effectIn:'animated bounceInRight',effectOut:'animated bounceOutLeft',closeBtn:'closeIn'})
		}).on('close',function(){
			Dialog({effectIn:'animated bounceIn'})
		})
	});
	$('#s5').on('click',function(){
		Dialog({type:'dialog',dom:'#div',effectIn:'animated shake',closeBtn:'closeIn'}).on('close',function(){
			console.log('我监听到关闭了')
		})
	})
	// Dialog().hide();
	// Dialog({type:'dialog',dom:'#div'})
</script>
</body></html>