* {
    margin: 0;
    padding: 0
}

body {
    background: #383c55;
    width: 100%;
    height: 100%;
    font: 12px open sans, sans-serif
}

#wrapper {
    width: 320px;
    height: 560px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 30%;
    margin-left: -160px;
    background: #111
}

div.screen {
    width: 320px;
    height: 560px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #31558a;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

div.screen.animate {
    left: 254px;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

.list {
    margin-top: 36px;
    text-align: left
}

.item {
    height: 115px;
    margin-top: 30px 0;
    padding-left: 115px;
    clear: both
}

.item .img, .item span {
    background: #214273;
    border-radius: 3px
}

.item .img {
    float: left;
    width: 71px;
    height: 71px;
    margin-left: -93px
}

.item span {
    height: 11px;
    width: 180px;
    margin-bottom: 19px;
    float: left
}

.item span:nth-of-type(3) {
    width: 75px;
    margin-botom: 0
}

div.burger {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 11px;
    left: 21px;
    cursor: pointer
}

div.x, div.y, div.z {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out
}

div.x, div.y, div.z {
    height: 3px;
    width: 26px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out
}

div.y.squize {
    width: 0;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out
}

div.y {
    top: 18px
}

div.z {
    top: 37px
}

div.open div.x, div.open div.z {
    top: 19px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out
}

div.rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out
}

div.rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out
}

div.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out
}

div.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out
}

div.navbar {
    height: 73px;
    background: #385e97
}

div.menu {
    height: 568px;
    width: 320px;
    margin-left: -190px;
    opacity: 0;
    position: relative;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

#menu-bg {
    position: absolute;
    left: -10px;
    top: -120px;
    opacity: .3;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

div.menu.animate #menu-bg {
    left: -23px;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

div.menu.animate {
    margin-left: -110px;
    opacity: 1;
    -webkit-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 500ms cubic-bezier(0, .995, .99, 1);
    transition: all 500ms cubic-bezier(0, .995, .99, 1)
}

div.menu ul {
    margin-top: 110px;
    position: relative
}

div.menu ul li {
    list-style: none;
    width: 320px;
    margin-top: 40px;
    text-align: left;
    padding-left: 100px;
    font-size: 23px
}

div.menu ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px
}

div.menu.animate ul li {
    margin-left: 80px;
    -webkit-transition: all 800ms cubic-bezier(0, .995, .99, 1);
    -moz-transition: all 800ms cubic-bezier(0, .995, .99, 1);
    -ms-transition: all 800ms cubic-bezier(0, .995, .99, 1);
    -o-transition: all 800ms cubic-bezier(0, .995, .99, 1);
    transition: all 800ms cubic-bezier(0, .995, .99, 1)
}

div.menu.animate li:nth-of-type(1) {
    transition-delay: 0s
}

div.menu.animate li:nth-of-type(2) {
    transition-delay: .06s
}

div.menu.animate li:nth-of-type(3) {
    transition-delay: .12s
}

div.menu.animate li:nth-of-type(4) {
    transition-delay: .18s
}

div.menu.animate li:nth-of-type(5) {
    transition-delay: .24s
}