body {
}

.modal_1 {
    position: absolute;
    border: 1px solid #333;
    width: 680px;
    height: 270px;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

    .modal_1 > a {
        color: #960;
        font-size: 16px;
        font-weight: bold;
    }

.block {
    margin: 15px;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #666666;
    overflow: hidden;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    background: #EFEFEF;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    background: #ccc;
    display: none;
}

.songs {
    width: 98%;
    margin-left: 3%;
}

    .songs ul {
        margin: 0;
        padding: 0;
    }

        .songs ul li {
            list-style: none;
            color: #000;
            line-height: 21px;
        }

.bt_animate {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

    .bt_animate > a {
        margin-right: 20px;
        color: #0F0F0F;
    }



        .bt_animate > a:hover {
            color: #F00;
        }
